@model IEnumerable<AuthorDto>

@{
    ViewBag.Title = "Автори";
}

<div class="handler padding">
    <ul class="list-inline">
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Books" class="btn">Comics</a>
        </li>
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Authors" class="btn">Authors</a>
        </li>
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Categories" class="btn">Categories</a>
        </li>
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Customers" class="btn">Clients</a>
        </li>
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Orders" class="btn">Orders</a>
        </li>
        <li class="list-inline-item handler-item">
            <a asp-controller="Admin" asp-action="Notices" class="btn">Messages</a>
        </li>
    </ul>
</div>
<div>
    <h1>Автори</h1>
    <a class="btn btn-danger mb-3" asp-action="Create"
       asp-controller="Author">Add new author</a>
    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Автор</th>
                    <th scope="col">Дії</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <th>@author.Id</th>
                        <td>@author.Name</td>
                        <td>
                            <form asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id" method="post">
                                <button type="submit" class="btn btn-danger m-1"
                                        onclick="return confirm('Are you sure you want to delte author: @author.Name?')">
                                    Видалити
                                </button>

                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    }
    else
    {
        <p>You have no authors</p>
    }
</div>